body {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16pt;
  line-height: 32px;
  color: #222222;
  background-color: #f2f4f6;
  background-image: url("img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-header {
  margin: 0 0 160px;
  padding: 32px 0 32px;
}

.page-header .container,
.page-footer .container {
  max-width: 1408px;
  text-align: right;
}

.page-header a {
  color: #288be6;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

/*=============!Добавил от себя!=============*/
.page-header a:hover {
  text-decoration: underline;
}
/*=============!Добавил от себя!=============*/

.header-email {
  padding-left: 30px;
  background-image: url("img/icon-email-header.svg");
  background-repeat: no-repeat;  /*!ДОБАВИЛ ОТ СЕБЯ!*/
}

.header-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-header.svg");
  background-repeat: no-repeat;  /*!ДОБАВИЛ ОТ СЕБЯ!*/
}

.hero-image {
  margin-bottom: 620px;
}

.hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.heading {
  margin: 0 0 16px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 88px;
  line-height: 96px;
  font-weight: 400;
}

.hero-image p {
  margin: 3%;
  font-size: 32px;
  line-height: 48px;
}

.intro {
  margin: 0 0 120px;
}

.subheading {
  margin: 0 0 56px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}

.user-image {
  margin: 0 0 32px;
  text-align: center;
}

.intro h3,
.portfolio h3 {
  margin: 0 0 12px 3%;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 3%;
}

.intro p {
  margin: 0 0 32px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.skill-html {
  background-image: url("img/icon-html.svg");
}

.skill-css {
  background-image: url("img/icon-css.svg");
}

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #86c3fa;
  border-radius: 8px;
}

.level div {
  margin: 1px;
  height: 12px;
  background-color: #288be6;
  border-radius: 6px;
}

.portfolio {
  margin: 0 0 120px;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
  
	-webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.project-image:hover {
  margin: 0 0 24px;
  text-align: center;
  cursor: pointer;
  border-top: 10px ridge red;
  border-bottom: 10px ridge red;
}

.projects p {
  margin: 0 0 24px;
}

.button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #288be6;
  color: #ffffff;
}

/*=============!Добавил от себя!=============*/
.button:hover {
	background-color: #187bc6;
}

.button:active {
	background-color: #086bb6;
}
/*=============!Добавил от себя!=============*/

.page-footer {
  padding: 40px 0;
  background-color: #00417d;
  color: #ffffff;
}

.page-footer a {
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.page-footer a:hover {
	text-decoration: underline;
}

.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email-footer.svg");
  background-repeat: no-repeat;  /*!ДОБАВИЛ ОТ СЕБЯ!*/
}

.footer-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-footer.svg");
  background-repeat: no-repeat;  /*!ДОБАВИЛ ОТ СЕБЯ!*/
}

/*============================*/
/* 				Добавил от себя: 					  */

/* Время поста или проекта: */
time {
	font-style: italic;
	color: #555555;
	margin: 0 30%;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 5px double Gray;
	border-bottom: 5px double Gray;
}

/* Заголовок для поста: */
h4 {
	margin-left: 5%;
	font-size: 15pt;
}

/* Пост в портфолио: */
.post {
	border-top: 3px solid #999999;
	border-bottom: 3px solid #999999;
	font-stretch: expanded;
}

/* Заголовок очередной выполненного домашней работы: */
.work-header {
	-webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.work-header:hover {
	cursor: pointer;
	font-size: 24pt;
	font-weight: bold;
}

/* Важный текст: */
.important {
	color: red;
	font-weight: 800;
	font-size: 17pt;
}

code {
	border-radius: 5px;
	background: #dddddd;
	font-family: consolas;
	margin-left: 5px;
	margin-right: 5px;
}

code span.keyword {
	color: blue;
}

code span.value {
	color: green;
}