/* Frame 2 */

position: relative;
width: 1440px;
height: 4470px;

background: #FFFFFF;


/* Главный */

position: absolute;
width: 1440px;
height: 608px;
left: 0px;
top: 26px;



/* Оригинальные свежие букеты с доставкой по всему городу */

position: absolute;
width: 384px;
height: 58px;
left: 120px;
top: 313px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #AE7C78;



/* taisiia-shestopal-JZDyFwGAEqY-unsplash 1 */

position: absolute;
width: 387px;
height: 420px;
left: 933px;
top: 172px;

background: url(taisiia-shestopal-JZDyFwGAEqY-unsplash.jpg);
border-radius: 10px;


/* anna-tukhfatullina-food-photographer-stylist-bq6Gd7pQznU-unsplash 1 */

position: absolute;
width: 386px;
height: 404px;
left: 527px;
top: 230px;

background: url(anna-tukhfatullina-food-photographer-stylist-bq6Gd7pQznU-unsplash.jpg);
border-radius: 10px;


/* Rectangle 12 */

position: absolute;
width: 285px;
height: 80px;
left: 120px;
top: 435px;

background: #D89999;
border-radius: 40px;


/* Смотреть каталог */

position: absolute;
width: 146px;
height: 20px;
left: 190px;
top: 465px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #FFFFFF;



/* Авторские букеты в Петербурге */

position: absolute;
width: 384px;
height: 118px;
left: 120px;
top: 171px;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 44px;
line-height: 59px;

color: #AE7C78;



/* Доставка и оплата */

position: absolute;
width: 154px;
height: 20px;
left: 288px;
top: 48px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #AE7C78;



/* Отзывы */

position: absolute;
width: 65px;
height: 20px;
left: 543px;
top: 48px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-align: center;

color: #AE7C78;



/* Корзина */

position: absolute;
width: 72px;
height: 20px;
left: 1248px;
top: 48px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-align: center;

color: #AE7C78;



/* Контакты */

position: absolute;
width: 78px;
height: 20px;
left: 1081px;
top: 48px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-align: center;

color: #AE7C78;



/* Спецпредложения */

position: absolute;
width: 160px;
height: 20px;
left: 832px;
top: 48px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-align: center;

color: #AE7C78;



/* Каталог */

position: absolute;
width: 66px;
height: 20px;
left: 120px;
top: 48px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-align: center;

color: #AE7C78;



/* Лого */

position: absolute;
width: 100px;
height: 32.28px;
left: 670px;
top: 42px;



/* Слой 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: -0.04%;



/* OBJECTS */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: -0.04%;



/* Vector */

position: absolute;
left: 0%;
right: 89.05%;
top: 24.03%;
bottom: 40.6%;

background: #FFDCDC;


/* Vector */

position: absolute;
left: 10.35%;
right: 82.63%;
top: 6.34%;
bottom: 70.62%;

background: #FFDCDC;


/* Vector */

position: absolute;
left: 0.12%;
right: 80.15%;
top: 0%;
bottom: 3.39%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 12.4%;
right: 85.14%;
top: 19.59%;
bottom: 72.52%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 3.01%;
right: 95.19%;
top: 21.81%;
bottom: 72.78%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 11.83%;
right: 86.93%;
top: 13.9%;
bottom: 82.07%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 3.03%;
right: 95.9%;
top: 16.22%;
bottom: 80.19%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 1.4%;
right: 97.83%;
top: 19.41%;
bottom: 78.54%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 13.97%;
right: 85.42%;
top: 12.95%;
bottom: 84.33%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 13.81%;
right: 75.83%;
top: 31.08%;
bottom: 26.61%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 25.94%;
right: 65.29%;
top: 41.76%;
bottom: 25.75%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 35.69%;
right: 57.35%;
top: 32.68%;
bottom: 25.8%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 43.21%;
right: 47.94%;
top: 41.75%;
bottom: 26.15%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 52.64%;
right: 36.67%;
top: 41.76%;
bottom: 26.59%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 64.18%;
right: 31.15%;
top: 27.62%;
bottom: 26.59%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 69.67%;
right: 20.23%;
top: 26.47%;
bottom: 26.59%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 80.45%;
right: 10.68%;
top: 41.75%;
bottom: 26.15%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 28.87%;
right: 67.37%;
top: 84.29%;
bottom: 1.36%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 33.64%;
right: 63.37%;
top: 84.29%;
bottom: 4.31%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 37.52%;
right: 58.96%;
top: 84.16%;
bottom: 4.23%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 41.25%;
right: 55.52%;
top: 84.29%;
bottom: 4.31%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 45.23%;
right: 50.89%;
top: 84.29%;
bottom: 4.27%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 52.43%;
right: 44.58%;
top: 84.29%;
bottom: 4.31%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 58.58%;
right: 37.34%;
top: 80.41%;
bottom: 4.32%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 63.94%;
right: 32.54%;
top: 84.16%;
bottom: 4.23%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 67.65%;
right: 29.11%;
top: 84.29%;
bottom: 4.31%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 71.1%;
right: 25.38%;
top: 84.18%;
bottom: 4.23%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 75.77%;
right: 20.56%;
top: 84.2%;
bottom: 0.07%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 80.33%;
right: 15.95%;
top: 78.74%;
bottom: 4.21%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 84.2%;
right: 11.91%;
top: 84.29%;
bottom: -0.04%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 88.96%;
right: 7.39%;
top: 84.2%;
bottom: 0.07%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 93.76%;
right: 3.73%;
top: 84.29%;
bottom: 4.31%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 96.48%;
right: 0%;
top: 84.18%;
bottom: 4.23%;

background: #AE7C78;


/* Line 2 */

position: absolute;
width: 1440px;
height: 0px;
left: 0px;
top: 26px;

border: 1px solid #AE7C78;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Line 3 */

position: absolute;
width: 1440px;
height: 0px;
left: 0px;
top: 90px;

border: 1px solid #AE7C78;


/* Преимущества */

position: absolute;
width: 1200px;
height: 108px;
left: 120px;
top: 682px;



/* Перед доставкой сделаем фотографию букета и отправим вам. */

position: absolute;
width: 285px;
height: 60px;
left: 1035px;
top: 710px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #AE7C78;



/* Отправляем фото цветов */

position: absolute;
width: 213px;
height: 20px;
left: 1035px;
top: 682px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #AE7C78;



/* Group */

position: absolute;
left: 66.39%;
right: 29.54%;
top: 15.26%;
bottom: 83.58%;



/* Vector */

position: absolute;
left: 69.73%;
right: 29.96%;
top: 15.46%;
bottom: 84.5%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 68.31%;
right: 30.48%;
top: 15.56%;
bottom: 84.05%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 66.39%;
right: 29.54%;
top: 15.26%;
bottom: 83.58%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 66.68%;
right: 31.79%;
top: 15.85%;
bottom: 83.69%;

background: #AE7C78;


/* Тщательно следим за состоянием цветов, а опытные флористы отбирают для букетов каждый цветок. */

position: absolute;
width: 285px;
height: 80px;
left: 628px;
top: 710px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #AE7C78;



/* Всегда свежие цветы */

position: absolute;
width: 182px;
height: 20px;
left: 628px;
top: 682px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #AE7C78;



/* bouquet 1 */

position: absolute;
width: 52px;
height: 52px;
left: 556px;
top: 682px;



/* Group */

position: absolute;
left: 17.43%;
right: 17.43%;
top: 0%;
bottom: 0%;



/* Group */

position: absolute;
left: 17.43%;
right: 17.43%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 17.43%;
right: 17.43%;
top: 0%;
bottom: 0%;

background: #AE7C78;


/* Group */

position: absolute;
left: 31.32%;
right: 62.62%;
top: 39.79%;
bottom: 55.14%;



/* Group */

position: absolute;
left: 31.32%;
right: 62.62%;
top: 39.79%;
bottom: 55.14%;



/* Vector */

position: absolute;
left: 31.32%;
right: 62.62%;
top: 39.79%;
bottom: 55.14%;

background: #AE7C78;


/* Можем собрать букет и передать его в доставку всего за час. */

position: absolute;
width: 285px;
height: 40px;
left: 222px;
top: 710px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #AE7C78;



/* Быстрая доставка */

position: absolute;
width: 152px;
height: 20px;
left: 222px;
top: 682px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #AE7C78;



/* Group 9 */

position: absolute;
width: 82px;
height: 52px;
left: 120px;
top: 682px;



/* Group */

position: absolute;
left: 8.33%;
right: 85.97%;
top: 15.26%;
bottom: 83.58%;



/* Group */

position: absolute;
left: 8.33%;
right: 85.97%;
top: 15.26%;
bottom: 83.58%;



/* Vector */

position: absolute;
left: 8.33%;
right: 85.97%;
top: 15.26%;
bottom: 83.58%;

background: #AE7C78;


/* Group */

position: absolute;
left: 9.77%;
right: 89.86%;
top: 16.18%;
bottom: 83.7%;



/* Group */

position: absolute;
left: 9.77%;
right: 89.86%;
top: 16.18%;
bottom: 83.7%;



/* Vector */

position: absolute;
left: 9.77%;
right: 89.86%;
top: 16.18%;
bottom: 83.7%;

background: #AE7C78;


/* Group */

position: absolute;
left: 12.71%;
right: 86.92%;
top: 16.18%;
bottom: 83.7%;



/* Group */

position: absolute;
left: 12.71%;
right: 86.92%;
top: 16.18%;
bottom: 83.7%;



/* Vector */

position: absolute;
left: 12.71%;
right: 86.92%;
top: 16.18%;
bottom: 83.7%;

background: #AE7C78;


/* Group */

position: absolute;
left: 10.71%;
right: 87.98%;
top: 16.06%;
bottom: 83.89%;



/* Group */

position: absolute;
left: 10.71%;
right: 87.98%;
top: 16.06%;
bottom: 83.89%;



/* Vector */

position: absolute;
left: 10.71%;
right: 87.98%;
top: 16.06%;
bottom: 83.89%;

background: #AE7C78;


/* Group */

position: absolute;
left: 8.59%;
right: 89.59%;
top: 15.93%;
bottom: 84.01%;



/* Group */

position: absolute;
left: 8.59%;
right: 89.59%;
top: 15.93%;
bottom: 84.01%;



/* Vector */

position: absolute;
left: 8.59%;
right: 89.59%;
top: 15.93%;
bottom: 84.01%;

background: #AE7C78;


/* Group */

position: absolute;
left: 9.38%;
right: 87.94%;
top: 15.72%;
bottom: 84.04%;



/* Group */

position: absolute;
left: 9.38%;
right: 87.94%;
top: 15.72%;
bottom: 84.04%;



/* Vector */

position: absolute;
left: 9.38%;
right: 87.94%;
top: 15.72%;
bottom: 84.04%;

background: #AE7C78;


/* Популярное */

position: absolute;
width: 794px;
height: 546px;
left: 323px;
top: 870px;



/* Rectangle 16 */

position: absolute;
width: 285px;
height: 80px;
left: 324px;
top: 1231px;

background: #D89999;
border-radius: 40px;


/* Заказать */

position: absolute;
width: 73px;
height: 20px;
left: 429px;
top: 1261px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #FFFFFF;



/* Популярные букеты */

position: absolute;
width: 371px;
height: 48px;
left: 540px;
top: 870px;

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
/* identical to box height */
letter-spacing: 0.02em;

color: #AE7C78;



/* Элегантный букет, который станет отличным подарком на день рождения или юбилей. */

position: absolute;
width: 387px;
height: 40px;
left: 323px;
top: 1030px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #AE7C78;



/* 30 × 40 см */

position: absolute;
width: 85px;
height: 20px;
left: 324px;
top: 1094px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #AE7C78;



/* Букет «Нежность» */

position: absolute;
width: 228px;
height: 29px;
left: 323px;
top: 981px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #AE7C78;



/* 3600 руб. */

position: absolute;
width: 118px;
height: 29px;
left: 324px;
top: 1138px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #AE7C78;



/* Arrow 1 */

position: absolute;
width: 50px;
height: 0px;
left: 730px;
top: 1416px;

border: 2px solid #AE7C78;
box-sizing: border-box;


/* Arrow 2 */

position: absolute;
width: 50px;
height: 0px;
left: 710px;
top: 1416px;

border: 2px solid #AE7C78;
box-sizing: border-box;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* imgbin_flower-bouquet-cut-flowers-floral-design-garden-roses-png 1 */

position: absolute;
width: 387px;
height: 438px;
left: 730px;
top: 954px;

background: url(imgbin_flower-bouquet-cut-flowers-floral-design-garden-roses-png.png);


/* Разделы каталога */

position: absolute;
width: 1200px;
height: 442px;
left: 120px;
top: 1496px;



/* 3 */

position: absolute;
width: 387px;
height: 442px;
left: 933px;
top: 1496px;



/* alyssa-strohmann-tnpr-hPOta0-unsplash 1 */

position: absolute;
width: 387px;
height: 442px;
left: 933px;
top: 1496px;

background: url(alyssa-strohmann-tnpr-hPOta0-unsplash.jpg);
border-radius: 10px;


/* Rectangle 17 */

position: absolute;
width: 387px;
height: 442px;
left: 933px;
top: 1496px;

background: rgba(174, 124, 120, 0.6);
border-radius: 10px;


/* Выбрать букет */

position: absolute;
width: 273px;
height: 48px;
left: 990px;
top: 1679px;

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
/* identical to box height */
text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;



/* Букеты в ассортименте */

position: absolute;
width: 194px;
height: 20px;
left: 1030px;
top: 1735px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #FFFFFF;



/* 1 */

position: absolute;
width: 388px;
height: 442px;
left: 120px;
top: 1496px;



/* sammi-sP5CaWEN7Do-unsplash 1 */

position: absolute;
width: 387px;
height: 442px;
left: 120px;
top: 1496px;

background: url(sammi-sP5CaWEN7Do-unsplash.jpg);
border-radius: 10px;


/* Rectangle 19 */

position: absolute;
width: 387px;
height: 442px;
left: 121px;
top: 1496px;

background: rgba(174, 124, 120, 0.6);
border-radius: 10px;


/* Букеты для невест */

position: absolute;
width: 155px;
height: 20px;
left: 237px;
top: 1735px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #FFFFFF;



/* Свадебные букеты */

position: absolute;
width: 343px;
height: 48px;
left: 142px;
top: 1679px;

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
/* identical to box height */
text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;



/* 2 */

position: absolute;
width: 387px;
height: 442px;
left: 527px;
top: 1496px;



/* fresh-beautiful-peony-flowers-vase 1 */

position: absolute;
width: 387px;
height: 442px;
left: 527px;
top: 1496px;

background: url(fresh-beautiful-peony-flowers-vase.jpg);
border-radius: 10px;


/* Rectangle 18 */

position: absolute;
width: 387px;
height: 442px;
left: 527px;
top: 1496px;

background: rgba(174, 124, 120, 0.6);
border-radius: 10px;


/* Букеты с пионами */

position: absolute;
width: 337px;
height: 48px;
left: 552px;
top: 1679px;

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
/* identical to box height */
text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;



/* Букеты с сезонными пионами */

position: absolute;
width: 252px;
height: 20px;
left: 594px;
top: 1735px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #FFFFFF;



/* Сикдка */

position: absolute;
width: 1200px;
height: 391px;
left: 120px;
top: 2018px;



/* Rectangle 79 */

position: absolute;
width: 1200px;
height: 391px;
left: 120px;
top: 2018px;

background: #AE7C78;


/* Если заказываете у нас букет впервые — при оформлении заказа введите промокод «Botanika2021» и получите скидку 10%. */

position: absolute;
width: 387px;
height: 145px;
left: 222px;
top: 2200px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;



/* Скидка 10% на первый заказ */

position: absolute;
width: 488px;
height: 118px;
left: 222px;
top: 2058px;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 44px;
line-height: 59px;
letter-spacing: 0.02em;

color: #FFFFFF;



/* florist-makes-beautiful-bouquet-studio 1 */

position: absolute;
width: 590px;
height: 391px;
left: 730px;
top: 2018px;

background: url(florist-makes-beautiful-bouquet-studio.jpg);
border-radius: 0px;


/* Шаги */

position: absolute;
width: 1200px;
height: 232px;
left: 120px;
top: 2489px;



/* 4 шага к идеальному букету */

position: absolute;
width: 509px;
height: 48px;
left: 465px;
top: 2489px;

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
/* identical to box height */
letter-spacing: 0.02em;

color: #AE7C78;



/* Заказ */

position: absolute;
width: 48px;
height: 20px;
left: 239px;
top: 2634px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #AE7C78;



/* Уточнение деталей */

position: absolute;
width: 165px;
height: 20px;
left: 485px;
top: 2633px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #AE7C78;



/* Оплата */

position: absolute;
width: 62px;
height: 20px;
left: 842px;
top: 2633px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #AE7C78;



/* Доставка */

position: absolute;
width: 78px;
height: 20px;
left: 1139px;
top: 2633px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #AE7C78;



/* Выберите понравившийся букет из каталога и оформите заказ */

position: absolute;
width: 285px;
height: 40px;
left: 120px;
top: 2662px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #AE7C78;



/* Наш флорист позвонит вам после оформления заказа, чтобы уточнить детали */

position: absolute;
width: 285px;
height: 60px;
left: 425px;
top: 2661px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #AE7C78;



/* Оплатить заказ можно онлайн на сайте или при получении */

position: absolute;
width: 285px;
height: 40px;
left: 730px;
top: 2661px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #AE7C78;



/* Курьер позвонит за час до прибытия и доставит заказ вовремя */

position: absolute;
width: 285px;
height: 60px;
left: 1035px;
top: 2661px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #AE7C78;



/* Group */

position: absolute;
left: 15.97%;
right: 79.44%;
top: 57.58%;
bottom: 41.25%;



/* Group */

position: absolute;
left: 15.97%;
right: 79.44%;
top: 57.58%;
bottom: 41.25%;



/* Vector */

position: absolute;
left: 16.41%;
right: 79.87%;
top: 57.68%;
bottom: 41.53%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 15.97%;
right: 79.44%;
top: 57.58%;
bottom: 41.25%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 16.7%;
right: 82.19%;
top: 57.89%;
bottom: 41.76%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 18.15%;
right: 81.43%;
top: 57.82%;
bottom: 42.05%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 18.72%;
right: 80.53%;
top: 57.91%;
bottom: 42.05%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 18.72%;
right: 80.16%;
top: 57.82%;
bottom: 42.14%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 18.15%;
right: 81.43%;
top: 58%;
bottom: 41.86%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 18.72%;
right: 80.53%;
top: 58.1%;
bottom: 41.86%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 18.72%;
right: 80.16%;
top: 58%;
bottom: 41.95%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 18.15%;
right: 81.43%;
top: 58.19%;
bottom: 41.67%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 18.72%;
right: 80.53%;
top: 58.28%;
bottom: 41.67%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 18.72%;
right: 80.16%;
top: 58.19%;
bottom: 41.77%;

background: #AE7C78;


/* Group */

position: absolute;
left: 38.12%;
right: 59.27%;
top: 57.56%;
bottom: 41.28%;



/* Group */

position: absolute;
left: 38.12%;
right: 59.27%;
top: 57.56%;
bottom: 41.28%;



/* Vector */

position: absolute;
left: 38.12%;
right: 59.27%;
top: 57.56%;
bottom: 41.28%;

background: #AE7C78;


/* Group */

position: absolute;
left: 58.19%;
right: 36.95%;
top: 57.56%;
bottom: 41.28%;



/* Vector */

position: absolute;
left: 58.73%;
right: 40.1%;
top: 57.89%;
bottom: 41.79%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 58.73%;
right: 39.04%;
top: 58.46%;
bottom: 41.5%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 58.73%;
right: 40.08%;
top: 58.54%;
bottom: 41.41%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 59.92%;
right: 39.94%;
top: 58.29%;
bottom: 41.61%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 60.24%;
right: 39.61%;
top: 58.29%;
bottom: 41.61%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 60.57%;
right: 39.29%;
top: 58.29%;
bottom: 41.61%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 60.89%;
right: 38.96%;
top: 58.29%;
bottom: 41.61%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 61.44%;
right: 38.42%;
top: 58.29%;
bottom: 41.61%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 61.76%;
right: 38.1%;
top: 58.29%;
bottom: 41.61%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 62.09%;
right: 37.77%;
top: 58.29%;
bottom: 41.61%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 58.73%;
right: 41.13%;
top: 58.29%;
bottom: 41.61%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 59.05%;
right: 40.81%;
top: 58.29%;
bottom: 41.61%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 59.38%;
right: 40.48%;
top: 58.29%;
bottom: 41.61%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 59.7%;
right: 36.95%;
top: 57.56%;
bottom: 41.58%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 61.92%;
right: 37.28%;
top: 57.7%;
bottom: 42.11%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 58.19%;
right: 37.24%;
top: 57.76%;
bottom: 41.28%;

background: #AE7C78;


/* Vector */

position: absolute;
left: 61.37%;
right: 37.68%;
top: 58.08%;
bottom: 41.79%;

background: #AE7C78;


/* Group 8 */

position: absolute;
width: 82.21px;
height: 52px;
left: 1136px;
top: 2573px;



/* Group */

position: absolute;
left: 78.89%;
right: 15.4%;
top: 57.56%;
bottom: 41.28%;



/* Group */

position: absolute;
left: 78.89%;
right: 15.4%;
top: 57.56%;
bottom: 41.28%;



/* Vector */

position: absolute;
left: 78.89%;
right: 15.4%;
top: 57.56%;
bottom: 41.28%;

background: #AE7C78;


/* Group */

position: absolute;
left: 80.33%;
right: 19.3%;
top: 58.48%;
bottom: 41.4%;



/* Group */

position: absolute;
left: 80.33%;
right: 19.3%;
top: 58.48%;
bottom: 41.4%;



/* Vector */

position: absolute;
left: 80.33%;
right: 19.3%;
top: 58.48%;
bottom: 41.4%;

background: #AE7C78;


/* Group */

position: absolute;
left: 83.27%;
right: 16.35%;
top: 58.48%;
bottom: 41.4%;



/* Group */

position: absolute;
left: 83.27%;
right: 16.35%;
top: 58.48%;
bottom: 41.4%;



/* Vector */

position: absolute;
left: 83.27%;
right: 16.35%;
top: 58.48%;
bottom: 41.4%;

background: #AE7C78;


/* Group */

position: absolute;
left: 81.27%;
right: 17.42%;
top: 58.36%;
bottom: 41.58%;



/* Group */

position: absolute;
left: 81.27%;
right: 17.42%;
top: 58.36%;
bottom: 41.58%;



/* Vector */

position: absolute;
left: 81.27%;
right: 17.42%;
top: 58.36%;
bottom: 41.58%;

background: #AE7C78;


/* Group */

position: absolute;
left: 79.15%;
right: 19.03%;
top: 58.24%;
bottom: 41.71%;



/* Group */

position: absolute;
left: 79.15%;
right: 19.03%;
top: 58.24%;
bottom: 41.71%;



/* Vector */

position: absolute;
left: 79.15%;
right: 19.03%;
top: 58.24%;
bottom: 41.71%;

background: #AE7C78;


/* Group */

position: absolute;
left: 79.94%;
right: 17.38%;
top: 58.02%;
bottom: 41.74%;



/* Group */

position: absolute;
left: 79.94%;
right: 17.38%;
top: 58.02%;
bottom: 41.74%;



/* Vector */

position: absolute;
left: 79.94%;
right: 17.38%;
top: 58.02%;
bottom: 41.74%;

background: #AE7C78;


/* Новости */

position: absolute;
width: 1200px;
height: 460px;
left: 120px;
top: 2801px;



/* Следите за нашими новостями */

position: absolute;
width: 487px;
height: 96px;
left: 120px;
top: 2871px;

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
letter-spacing: 0.02em;

color: #AE7C78;



/* Подписывайтесь на наши соцсети и узнавайте о новинках и акциях первым. */

position: absolute;
width: 387px;
height: 87px;
left: 120px;
top: 3007px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #AE7C78;



/* demi-he-hPcxvCecdPI-unsplash 1 */

position: absolute;
width: 387px;
height: 460px;
left: 933px;
top: 2801px;

background: url(demi-he-hPcxvCecdPI-unsplash.jpg);


/* samantha-gades-nysCDwot01c-unsplash 1 */

position: absolute;
width: 285px;
height: 220px;
left: 628px;
top: 2801px;

background: url(samantha-gades-nysCDwot01c-unsplash.jpg);


/* insung-yoon-jRofmV5rPl0-unsplash 1 */

position: absolute;
width: 285px;
height: 220px;
left: 628px;
top: 3041px;

background: url(insung-yoon-jRofmV5rPl0-unsplash.jpg);


/* Соцсети */

position: absolute;
width: 96.76px;
height: 20px;
left: 120px;
top: 3134px;



/* instagram_icon */

position: absolute;
left: 8.33%;
right: 90.26%;
top: 70.11%;
bottom: 29.44%;

background: #D89999;


/* facebook_icon */

position: absolute;
left: 11.18%;
right: 88.02%;
top: 70.11%;
bottom: 29.44%;

background: #D89999;


/* twitter_icon */

position: absolute;
left: 13.26%;
right: 84.95%;
top: 70.11%;
bottom: 29.44%;

background: #D89999;


/* Отзывы */

position: absolute;
width: 1200px;
height: 308px;
left: 120px;
top: 3341px;



/* Rectangle 20 */

position: absolute;
width: 1200px;
height: 308px;
left: 120px;
top: 3341px;

border: 1px solid #AE7C78;
box-sizing: border-box;


/* Всё очень понравилось! Быстрое оформление заказа, выбор удобного времени доставки. Всем большое спасибо! */

position: absolute;
width: 300px;
height: 80px;
left: 164px;
top: 3470px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #AE7C78;



/* Внимательные флористы, вежливые. Магазин находится прям рядом с метро. Букет очень понравился, буду ещё заказывать! */

position: absolute;
width: 300px;
height: 80px;
left: 570px;
top: 3469px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #AE7C78;



/* Выбор букетов на любой вкус и цену. Бывают хорошие скидки, а флористы всегда помогут и точно соберут красивый букет! */

position: absolute;
width: 300px;
height: 80px;
left: 976px;
top: 3469px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #AE7C78;



/* Марина */

position: absolute;
width: 68px;
height: 20px;
left: 280px;
top: 3566px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #AE7C78;



/* Татьяна */

position: absolute;
width: 66px;
height: 20px;
left: 687px;
top: 3565px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #AE7C78;



/* Ольга */

position: absolute;
width: 50px;
height: 20px;
left: 1101px;
top: 3565px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #AE7C78;



/* Отзывы */

position: absolute;
width: 152px;
height: 48px;
left: 644px;
top: 3381px;

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
/* identical to box height */
text-align: center;
letter-spacing: 0.02em;

color: #AE7C78;



/* Контакты */

position: absolute;
width: 1440px;
height: 644.1px;
left: 0px;
top: 3729px;



/* Group 18 */

position: absolute;
width: 1440px;
height: 644.1px;
left: 0px;
top: 3729px;



/* map */

position: absolute;
width: 1440px;
height: 644.1px;
left: 0px;
top: 3729px;

background: url(карта.png);


/* Rectangle 78 */

position: absolute;
width: 386px;
height: 520px;
left: 222px;
top: 3781px;

background: #F7FAFC;
box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
border-radius: 12px;


/* Мы ждем вас */

position: absolute;
width: 234px;
height: 48px;
left: 257px;
top: 3821px;

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
/* identical to box height */
display: flex;
align-items: center;

color: #AE7C78;



/* Позвоните нам: */

position: absolute;
width: 131px;
height: 20px;
left: 257px;
top: 4098.98px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;

color: #AE7C78;



/* Приходите к нам: */

position: absolute;
width: 159.18px;
height: 11.6px;
left: 257px;
top: 3911.06px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #AE7C78;



/* Режим работы: */

position: absolute;
width: 127px;
height: 20px;
left: 257px;
top: 4015.7px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;

color: #AE7C78;



/* Напишите нам: */

position: absolute;
width: 134.93px;
height: 11.6px;
left: 257px;
top: 4187.26px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #AE7C78;



/* + 7 (812) 983-47-19 */

position: absolute;
width: 144px;
height: 20px;
left: 257px;
top: 4132.66px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;

color: #AE7C78;



/* Санкт-Петербург, ул. Большая Конюшенная, 19 */

position: absolute;
width: 243px;
height: 40px;
left: 257px;
top: 3943.74px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #AE7C78;



/* Пн-Вск, с 9-00 до 20-00 */

position: absolute;
width: 197px;
height: 20px;
left: 257px;
top: 4049.38px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;

color: #AE7C78;



/* info@botanika.ru */

position: absolute;
width: 141px;
height: 20px;
left: 257px;
top: 4215.94px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;

color: #AE7C78;



/* footer */

position: absolute;
width: 1440px;
height: 97px;
left: 0px;
top: 4373px;



/* back */

position: absolute;
width: 1440px;
height: 97px;
left: 0px;
top: 4373px;

background: #AE7C78;


/* Каталог */

position: absolute;
width: 66px;
height: 20px;
left: 328px;
top: 4403px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Доставка и оплата */

position: absolute;
width: 154px;
height: 20px;
left: 462px;
top: 4403px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #FFFFFF;



/* Отзывы */

position: absolute;
width: 65px;
height: 20px;
left: 684px;
top: 4403px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Контакты */

position: absolute;
width: 78px;
height: 20px;
left: 1045px;
top: 4403px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Спецпредложения */

position: absolute;
width: 160px;
height: 20px;
left: 817px;
top: 4403px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Ресурс 4 2 */

position: absolute;
width: 100px;
height: 32.28px;
left: 125px;
top: 4397px;



/* Слой 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: -0.04%;



/* OBJECTS */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: -0.04%;



/* Vector */

position: absolute;
left: 0%;
right: 89.05%;
top: 24.03%;
bottom: 40.6%;

background: #FFDCDC;


/* Vector */

position: absolute;
left: 10.35%;
right: 82.63%;
top: 6.34%;
bottom: 70.62%;

background: #FFDCDC;


/* Vector */

position: absolute;
left: 0.12%;
right: 80.15%;
top: 0%;
bottom: 3.39%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 12.4%;
right: 85.14%;
top: 19.59%;
bottom: 72.52%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 3.01%;
right: 95.19%;
top: 21.81%;
bottom: 72.78%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 11.83%;
right: 86.93%;
top: 13.9%;
bottom: 82.07%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 3.03%;
right: 95.9%;
top: 16.22%;
bottom: 80.19%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 1.4%;
right: 97.83%;
top: 19.41%;
bottom: 78.54%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 13.97%;
right: 85.42%;
top: 12.95%;
bottom: 84.33%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 13.81%;
right: 75.83%;
top: 31.08%;
bottom: 26.61%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 25.94%;
right: 65.29%;
top: 41.76%;
bottom: 25.75%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 35.69%;
right: 57.35%;
top: 32.68%;
bottom: 25.8%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 43.21%;
right: 47.94%;
top: 41.75%;
bottom: 26.15%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 52.64%;
right: 36.67%;
top: 41.76%;
bottom: 26.59%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 64.18%;
right: 31.15%;
top: 27.62%;
bottom: 26.59%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 69.67%;
right: 20.23%;
top: 26.47%;
bottom: 26.59%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 80.45%;
right: 10.68%;
top: 41.75%;
bottom: 26.15%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 28.87%;
right: 67.37%;
top: 84.29%;
bottom: 1.36%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 33.64%;
right: 63.37%;
top: 84.29%;
bottom: 4.31%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 37.52%;
right: 58.96%;
top: 84.16%;
bottom: 4.23%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 41.25%;
right: 55.52%;
top: 84.29%;
bottom: 4.31%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 45.23%;
right: 50.89%;
top: 84.29%;
bottom: 4.27%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 52.43%;
right: 44.58%;
top: 84.29%;
bottom: 4.31%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 58.58%;
right: 37.34%;
top: 80.41%;
bottom: 4.32%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 63.94%;
right: 32.54%;
top: 84.16%;
bottom: 4.23%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 67.65%;
right: 29.11%;
top: 84.29%;
bottom: 4.31%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 71.1%;
right: 25.38%;
top: 84.18%;
bottom: 4.23%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 75.77%;
right: 20.56%;
top: 84.2%;
bottom: 0.07%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 80.33%;
right: 15.95%;
top: 78.74%;
bottom: 4.21%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 84.2%;
right: 11.91%;
top: 84.29%;
bottom: -0.04%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 88.96%;
right: 7.39%;
top: 84.2%;
bottom: 0.07%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 93.76%;
right: 3.73%;
top: 84.29%;
bottom: 4.31%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 96.48%;
right: 0%;
top: 84.18%;
bottom: 4.23%;

background: #FFFFFF;


/* icons_2 */

position: absolute;
width: 96.76px;
height: 20px;
left: 1228px;
top: 4403px;



/* instagram_icon */

position: absolute;
left: 85.28%;
right: 13.32%;
top: 98.5%;
bottom: 1.05%;

background: #FFFFFF;


/* facebook_icon */

position: absolute;
left: 88.12%;
right: 11.08%;
top: 98.5%;
bottom: 1.05%;

background: #FFFFFF;


/* twitter_icon */

position: absolute;
left: 90.21%;
right: 8%;
top: 98.5%;
bottom: 1.05%;

background: #FFFFFF;
